[submodule "elixir"]
	path = elixir
	url = git@github.com:yumechi/elixir_practice.git
[submodule "javascript"]
	path = javascript
	url = git@github.com:yumechi/javascript_practice.git
[submodule "crystal"]
	path = crystal
	url = git@github.com:yumechi/Crystal_practice.git
[submodule "rust"]
	path = rust
	url = git@github.com:yumechi/Rust_practice.git
[submodule "python"]
	path = python
	url = git@github.com:yumechi/python_practice.git
